<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/portfolio.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>HIDEKI'S PORTFOLIO</title>
  </head>
  <body>
    <div class="container">
      <!--グローバルナビ-->
      <nav class="gnav">
        <ul class="gnav-menu">
          <li class="gnav-item"id="profile"><a href="#">Profile</a></li>
          <li class="gnav-item"id="works"><a href="#">Works</a></li>
          <li class="gnav-item"id="skill"><a href="#">Skill</a></li>
          <li class="gnav-item"id="contact"><a href="#">Contact</a></li>
        </ul>
      </nav>
      <!--ここまで-->

      <!--ヘッダー-->
      <header class="header">
        <div class="header-name">HIDEKI SAKAI'S</div>
        <div class="header-title">PORTFOLIO</div>
      </header>
      <!--ここまで-->

      <!--自己紹介-->
      <section class="profile-section" class="profile">
        <div class="title">PROFILE</div>
        <div class="profile-wrapper">
          <img class="profile-img item-center" src="../images/photo.jpg">
          <div class="comment-wrapper">
          <p class="text">ご訪問いただきありがとうございます！皆さん初めまして！
            平成７年生まれの筋肉系駆け出しエンジニアHidekiと申します。
            社会人歴は約２年で、とある外資系IT企業さんのテクニカルサポートチームで２年間勤めておりました。
            専門学校時代に初めてプログラミングを学び、その頃から様々な言語に興味を持つようになりました。
            結局、尽きない好奇心からエンジニアになろうと決意し、TECH:EXPERT夜間コースに半年間通い、卒業しました。
            現在はアプリケーションエンジニアを目指し、日々奮闘しております。
            ちなみに趣味は筋トレ(主にパワーリフティング種目)で、１年間で69kgから91kg(計22kg)の増量を成功させました。
          </p>
          </div>
        </div>
      </section>
      <!--ここまで-->

      <!--成果物-->
      <section class="works-section"class="works">
        <div class="title">WORKS</div>
        <div class="works-wrapper">
          <div class="portfolio-img item-center"></div>
          <div class="works-body">
            <div class="works-name item-center">アプリ名：ポートフォリオ</div>
            <div class="works-text item-center">現在ご覧いただいているサイトです。</div>
            <a class="works-url item-center"href="https://github.com/bruno1412/portfolio2">GITコード</a>
          </div>
        </div>
        <div class="works-wrapper">
          <div class="mercari-img item-center"></div>
          <div class="works-body">
            <div class="works-name item-center">アプリ名：メルカリ(クローンアプリ)</div>
            <div class="works-text item-center">TechExpert(現TechCamp)在籍時にチーム開発で作成した有名フリマアプリメルカリのクローンアプリです。私が担当したのは、主にフロントエンドで、ユーザー新規登録ページ(計5ページ)、ユーザーログインページ(1ページ)、サーバーサイドではパンくず機能を担当しました。</div>
            <a class="works-url item-center"href="https://github.com/Hellowold-0703/freemarket_sample_56c">GITコード</a>
          </div>
        </div>
      </section>
      <!--ここまで-->

      <!--スキル-->
      <section class="skill-section">
        <div class="title">SKILL</div>
        <div class="skill-wrapper">
          <div class="skill-body">
            <h3 class="skill-title">HTML,CSS(HAML,SCSS)</h3>
            <div class="rate rate4"></div>
            <div class="skill-text">基本的なことはできます。以前、Railsでアプリを開発した時にHamlとScssを導入した経験があり、両方でコードを書けます。</div>
          </div>
          <div class="skill-body">
            <h3 class="skill-title">JAVASCRIPT(JQUERY)</h3>
            <div class="rate rate3"></div>
            <div class="skill-text">まだまだ外部サイトに頼リがちですが、JQueryも含めて基本的なことはできます。現在はNode.JSに興味を持ち、プチアプリ開発を目標に学習中です。</div>
          </div>
          <div class="skill-body">
            <h3 class="skill-title">RUBY(RUBY ON RAILS)</h3>
            <div class="rate rate3"></div>
            <div class="skill-text">基本的なことはできますが、バックエンドとしての経験が浅いため、少々不安があります。</div>
          </div>
          <div class="skill-body">
            <h3 class="skill-title">SQL</h3>
            <div class="rate rate3"></div>
            <div class="skill-text">以前働いていた職場で使用していたのもあり、基本的な文法はできます。</div>
          </div>
          <div class="skill-body">
            <h3 class="skill-title">GITHUB</h3>
            <div class="rate rate4"></div>
            <div class="skill-text">現在も使用しており、コミットやプルリクエスト、ブランチの切り分けなどの基本的なことはできます。</div>
          </div>
          <div class="skill-body">
            <h3 class="skill-title">ポルトガル語</h3>
            <div class="rate rate5"></div>
            <div class="skill-text">親がブラジル出身で幼い頃から触れてきたので、日常会話ぐらいならそつなくこなせます。</div>
          </div>
        </div>
      </section>
      <!--ここまで-->

      <!--コンタクト-->
      <section class="contact-section">
        <h1 class="title">CONTACT</h1>
        <div class="contact-wrapper">
          <div class="contact-text">気軽にお問い合わせください！</div>
          <a class="mail-font" href="mailto:touho1507@gmail.com">
            <i class="fas fa-envelope-square fa-3x"></i>
          </a>
          <a class="mail-url" href="mailto:touho1507@gmail.com">touho1507@gmail.com</a>
        </div>
      </section>
      <!--ここまで-->
        
    </div>
    <script type="text/javascript" src="../js/script.js"></script>
  </body>
</html>
